<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+coXmr9KxG5sDF6yLjgiY4+xJlp94wtZ7IRxjYjE5wD6v0PSn+kr/5pOfsNf3" crossorigin="anonymous"></script>
<script
src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz4fnFO9gybL7vuEdt1DtbkDz7TR24rbPrBjSEs8pDwrNXKHTp6DU6Od+c"
crossorigin="anonymous"
></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
integrity="sha384-HM3GeRlmqHRGAidDDjSSKp5L4Zn2Cl15Y02z5eTwlMAeB4JDI5Mxt6LpLunoxK0C"
crossorigin="anonymous"
></script>

</body>
<footer class="my-5 pt-5 text-body-secondary text-center text-small">
    <p class="mb-1">© 2024 Mimify</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
  </html>

  